@import "variables";

@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin sidebar-border {
  border: {
    width: $size-border;
    style: solid;
    color: $color-border;
  }
}

@mixin sidebar-border-userImage {
  @include sidebar-border;
  border-radius: $card-history-width;
}

@mixin cards {
  text-align: center;
  font-family: sans-serif;
  @include flex-column;
}

@mixin today-cards {
  @include cards;
  height: auto;
  justify-content: space-between;
  font-size: $font-size-primary;
}

@mixin history-cards {
  @include cards;
  width: $card-history-width;
  justify-content: flex-start;
  font-size: $font-size-secondary;
  margin: $margin-primary;
}

@mixin infocontainer-cardContainer {
  width: $full-width;
  background-color: $color-heading;
  border: $size-border solid $color-border;
  margin: $info-container-margin;
}

@mixin week-data {
  text-align: center;
  font-size: $font-size-secondary;
  font-weight: bolder;
  margin: $margin-primary;
  color: $color-border;
}
