$color-primary: #4d4e4f;
$color-heading: #ffffff;
$color-border: black;
$color-hydration: mix(white, #00AA00, 40%);
$color-sleep: mix(white, #B500B5, 50%);
$color-activity: mix(white, #B8860B, 20%);
$color-side-bars: mix(white, #B2CCE5, 30%);
$font-size-primary: 1.5em;
$font-size-secondary: 1em;
$margin-primary: .5em;
$card-history-width: 50%;
$info-container-margin: 1%;
$full-width: 100%;
$big-width: 80%;
$size-border: 1px;
