@import "variables";
@import "mixins";

* {
  margin: 0;
}


// html,
// body {
//     margin: 0;
//     padding: 0;
//     width: 100%;
//     height: 100vh;
//     display: flex;
//     flex-direction: row;
//     justify-content: center;
//     align-items: center;
//     background: #000;
// }

body {
  font-family: 'Open Sans';
  margin: 0;
  background-color: $colorPrimary;
  height: auto;
  h1 {
    text-align: center;
    color: $colorHeading;
    height: 80px;
    padding-top: 10px;
  }
}

.main {
  @include flex-row;
  height: 1500px;

  .main__sidebar__body {
    @include flex-row;
    width: 25%;
    height: 100%;
  }
}

.body__sidebar__sidebarContainer {
  background-color: $colorSideBars;
  @include sidebar-border;
  @include flex-column;
  align-items: center;
  text-align: center;
  overflow: scroll;
  .sidebar__header__name {
    text-align: center;
  }

  .sidebar__header__userInfo {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1.2em;
    margin: $marginPrimary;
    width: inherit;
  }

  .sidebar__header__line {
    color: $colorHeading;
    @include sidebar-border;
    margin: 1em 1em 0 1em;
    height: 0;
    width: $cardHistoryWidth;
  }

  .sidebar__header__userImage {
    @include sidebar-border-userImage;
    height: 200px;
    width: 200px;
    margin: 4px 2px 2px 2px;
    justify-content: center;
  }

  .sidebar__body__friendContainer {
    @include flex-column;
  }

  .sidebar__friendContainer__listItems {
    text-align: left;
  }
}

.body__main__infoContainter {
  width: $fullWidth;
  border: $sizeBorder solid $colorBorder;
  margin: 0 0 1em;
  @include flex-column;
  overflow: scroll;
  .main__column__hydration {
    @include flex-row;
    height: 25%
  }

  .main__column__activity {
    @include flex-row;
    height: $cardHistoryWidth
  }

  .main__column__sleep {
    @include flex-row;
    height: 35%
  }
}

.infoContainer__cardContainer__card__horizontal {
  @include infocontainer-cardContainer;
  @include flex-column;
  align-items: center;
  justify-content: space-between;
}

.horizontalCard__activity__container {
  @include flex-row;
  justify-content: space-around;
  width: $fullWidth;
  overflow: scroll;
}

.infoContainer__cardContainer__card__vertical {
  @include flex-row;
  @include infocontainer-cardContainer;
  overflow: scroll;
}

.card__today__hydration {
  @include today-cards;

  background-color: $colorHydration;
  margin: $marginPrimary;
  width: $cardHistoryWidth;
}

.card__today__sleep {
  @include today-cards;
  background-color: $colorSleep;
  margin: $marginPrimary;
  width: $cardHistoryWidth;
}

.card__today__activity {
  @include today-cards;
  background-color: $colorActivity;
  margin: .3em;
  width: 40%;
}

.card__history__hydration {
  @include history-cards;
  background-color: $colorHydration;
}

.card__history__sleep {
  @include history-cards;
  background-color: $colorSleep;
}

.card__history__activity {
  @include history-cards;
  background-color: $colorSleep;
  height: 93%;
  overflow: scroll;
}

.number {
  font-size: 2em;
  font-weight: bolder;
  color: $colorPrimary;
  font-kerning: normal;
}

.historicalWeek {
  @include week-data;
}

.thisWeek {
  @include week-data;
}

.card__vertical__list {
  list-style-type: none;
  font-weight: lighter;
  font-style: italic;
  padding-left: 0;
  font-size: $fontSizeSecondary;
}

.historical__list__listItem {
  padding: .3em;
  font-weight: bold;
  font-family: sans-serif;
}

.user__inputs {
  display: flex;
  justify-content: space-between;
  color: $colorHeading;
  margin-right: 10px;
}

.hidden {
  display: none;
}

.activity__user__log {
  display: flex;
  margin: 0 15px 10px 15px;
}

.user__labels {
  margin: 0 15px 5px 15px;
}


.glow-on-hover {
    width: 150px;
    height: 25px;
    margin-left: 10px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}