@import "variables";

* {
  margin: 0;
}

body {
  font-family: 'Open Sans';
  margin: 0;
  background-color: $colorPrimary;
  height: auto;
}

h1 {
  text-align: center;
  color: $colorHeading;
  height: 80px;
  padding-top: 10px;
}

.main {
  display: flex;
  flex-direction: row;
  height: 1500px;
}

.main-sidebar-body {
  display: flex;
  flex-direction: row;
  width: 25%;
  height: 100%;
}

.body-sidebar-sidebarContainer {
  background-color: #9A9DAB;
  border: $sizeBorder solid $colorBorder;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  overflow: scroll;
}

.sidebar-header-name {
  text-align: center;
}

.sidebar-header-userInfo {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1.2em;
  margin: $marginPrimary;
  width: inherit;
}

.sidebar-header-line {
  color: $colorHeading;
  border: $sizeBorder solid $colorBorder;
  margin: 1em 1em 0 1em;
  height: 0;
  width: $cardTodayWidth;
}

.sidebar-header-userImage {
  border-radius: $cardHistoryWidth;
  border-color: $colorBorder;
  border-style: solid;
  border-width: $sizeBorder;
  height: 200px;
  width: 200px;
  margin: 4px 2px 2px 2px;
  justify-content: center;
}

.sidebar-body-friendContainer {
  display: flex;
  flex-direction: column;
}

.sidebar-friendContainer-listItems {
  text-align: left;
}

.body-main-infoContainter {
  width: $fullWidth;
  border: $sizeBorder solid $colorBorder;
  margin: 0 0 1em;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

.main-column-hydration {
  display: flex;
  flex-direction: row;
  height: 25%
}

.main-column-activity {
  display: flex;
  flex-direction: row;
  height: $cardHistoryWidth
}

.main-column-sleep {
  display: flex;
  flex-direction: row;
  height: 35%
}

.infoContainer-cardContainer-card-horizontal {
  width: $fullWidth;
  background-color: $colorHeading;
  border: $sizeBorder solid $colorBorder;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: $infoContainerMargin;
  justify-content: space-between;
}

.horizontalCard-activity-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: $fullWidth;
  overflow: scroll;
}

.infoContainer-cardContainer-card-vertical {
  width: $fullWidth;
  background-color: $colorHeading;
  border: $sizeBorder solid $colorBorder;
  display: flex;
  flex-direction: row;
  margin: $infoContainerMargin;
  overflow: scroll;
}

.card-today-hydration {
  text-align: center;
  background-color: $colorHydration;
  height: auto;
  font-size: $fontSizePrimary;
  margin: $marginPrimary;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: $cardTodayWidth;
}

.card-today-sleep {
  text-align: center;
  background-color: $colorSleep;
  height: auto;
  font-size: $fontSizePrimary;
  margin: $marginPrimary;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: $cardTodayWidth;
}

.card-today-activity {
  text-align: center;
  background-color: $colorActivity;
  height: auto;
  font-size: $fontSizePrimary;
  margin: .3em;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
}

.card-history-hydration {
  text-align: center;
  background-color: $colorHydration;
  font-size: $fontSizeSecondary;
  margin: $marginPrimary;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: $cardHistoryWidth;
}

.card-history-sleep {
  text-align: center;
  background-color: $colorSleep;
  font-size: $fontSizeSecondary;
  margin: $marginPrimary;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: $cardHistoryWidth;
}

.card-history-activity {
  text-align: center;
  background-color: $colorSleep;
  font-size: $fontSizeSecondary;
  margin: $marginPrimary;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: $cardHistoryWidth;
  height: 93%;
  overflow: scroll;
}

.number {
  font-size: 2em;
  font-weight: bolder;
  color: $colorPrimary;
  font-kerning: normal;
}

.historicalWeek {
  text-align: center;
  font-size: $fontSizeSecondary;
  font-weight: bolder;
  margin: $marginPrimary;
  color: $colorBorder;
}

.thisWeek {
  text-align: center;
  font-size: $fontSizeSecondary;
  font-weight: bolder;
  margin: $marginPrimary;
  color: $colorBorder;
}

.card-vertical-list {
  list-style-type: none;
  font-weight: lighter;
  font-style: italic;
  padding-left: 0;
  font-size: $fontSizeSecondary;
}

.historical-list-listItem {
  padding: .3em;
  font-weight: bold;
  font-family: sans-serif;
}
