$colorPrimary: #4d4e4f;
$colorHeading: #ffffff;
$colorBorder: black;
$colorHydration: #5BC8AC;
$colorSleep: #EC96A4;
$colorActivity: #DFE166;
$fontSizePrimary: 1.5em;
$fontSizeSecondary: 1em;
$marginPrimary: .5em;
$cardHistoryWidth: 50%;
$infoContainerMargin: 1%;
$fullWidth: 100%;
$bigWidth: 80%;
$sizeBorder: 1px;