$colorPrimary: #4d4e4f;
$colorHeading: #ffffff;
$colorBorder: black;
$colorHydration: mix(white, #00AA00, 40%);
$colorSleep: mix(white, #B500B5, 40%);
$colorActivity: mix(white, #B8860B, 20%);
$colorSideBars: mix(white, #B2CCE5, 30%);
$fontSizePrimary: 1.5em;
$fontSizeSecondary: 1em;
$marginPrimary: .5em;
$cardHistoryWidth: 50%;
$infoContainerMargin: 1%;
$fullWidth: 100%;
$bigWidth: 80%;
$sizeBorder: 1px;
